<!-- src/app/app.component.html -->
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto">
    <div class="flex justify-between">
      <a
        class="text-white text-lg"
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <div>
        <a
          class="text-white text-lg mx-2"
          routerLink="/menu"
          routerLinkActive="active-link"
          >Menu</a
        >
        <a
          class="text-white text-lg mx-2"
          routerLink="/order"
          routerLinkActive="active-link"
          >Order</a
        >
        <a
          class="text-white text-lg mx-2"
          routerLink="/ratings"
          routerLinkActive="active-link"
          >Ratings</a
        >
        <a
          class="text-white text-lg mx-2"
          routerLink="/contact"
          routerLinkActive="active-link"
          >Contact</a
        >
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
